<!-- <ion-side-menus>
    <ion-side-menu side="left">
        <ion-header-bar align-title="center" class="bar-dark bar-gradient-dark">
            <h1 class="title">Welcome, User</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" ui-sref="app.home" menu-close>
                    <i class="icon ion-ios-home-outline"></i> Home
                </ion-item>
                <ion-item class="item-icon-left" ui-sref="app.about" menu-close>
                    <i class="icon ion-ios-help-outline"></i> About
                </ion-item>
                <ion-item class="item-icon-left">
                    <i class="icon ion-ios-gear-outline"></i> Settings
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive bar-gradient">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        All app contents goes here
        <ion-nav-view name="appContent"></ion-nav-view>
        
    </ion-side-menu-content>
</ion-side-menus> -->

<!-- <ion-tabs class="tabs-icon-top">

    
    <ion-tab  title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.home">
      <ion-nav-view name="appContent"></ion-nav-view>
    </ion-tab>
  
   
    <ion-tab  title="分类" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="app.about">
      <ion-nav-view name="appContentAbout"></ion-nav-view>
    </ion-tab>
      
      <ion-tab  title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="app.person">
          <ion-nav-view name="appContentPerson"></ion-nav-view>
      </ion-tab>
  
  </ion-tabs> -->

  <ui-view>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header layui-bg-black" style="margin-bottom: 300px;">
            <div class="layui-logo">angularjs后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
              <li class="layui-nav-item">
                <button class="layui-btn layui-btn-sm layui-bg-black" ng-click="ng.slideSwitch()">
                  <i class="layui-icon layui-icon-spread-left" ng-show="ng.isOk"></i>
                  <i class="layui-icon layui-icon-shrink-right" ng-show="!ng.isOk"></i>
                </button>
              </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        莫名点
                    </a>
                    <dl class="layui-nav-child">
                        <dd ng-click="ng.goOut()"><a href="">安全退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--侧边栏-->
        <slide-tree ng-class="{slideSwitch:ng.isOk,slideSwitchOn:!ng.isOk}" data="{{treeData}}"></slide-tree>

        <div class="layui-body" style="background: #FFFFFF;" ng-class="{bodySwitch:ng.isOk,bodySwitchOn:!ng.isOk}">
            <!--tabs区域-->
            <tab-sub data="{{tabsData}}"></tab-sub>
            <!-- 内容主体区域 -->
            <div class="layui-anim" data-anim="layui-anim-scale" style="padding: 15px;">
                <ui-view name="appContent"></ui-view>
            </div>
        </div>

        <div class="layui-footer"  ng-class="{bodySwitch:ng.isOk,bodySwitchOn:!ng.isOk}">
            <!-- 底部固定区域 -->
            底部固定区域
        </div>
    </div>
</ui-view>